<h1>Clientes</h1>
<table>
    <tr>
        <td>Action</td>
        <td>Id</td>
        <td>Name</td>
        <td>Age</td>
    </tr>

    {{#data}}
    <tr>
        <td><a href="update/{{id}}"><img src="/img/lapis.png"></a>
        <a href="deletar/{{id}}"><img src="/img/lixo.png"></a></td>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{age}}</td>
    </tr>
    {{/data}}
</table>